@model MarketPlaceProject.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<a href="@Url.Action("Signup", "User")" class="sign-up-button">Sign Up</a>

<div class="login-container">
    <img src="~/Content/icons/login.png" alt="Joole Logo" class="login-logo" />
    <h2>Building Product Selection Platform</h2>

    @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()


        <div class="form-group1">
            <i class="fa fa-user"></i>
            @Html.TextBoxFor(m => m.EmailOrUsername, new { @class = "form-control", @placeholder = "Username or Email" })
            @Html.ValidationMessageFor(m => m.EmailOrUsername, "", new { @class = "text-danger" })
        </div>

        <div class="form-group1">
            <i class="fa fa-lock"></i>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-group1">
            <input type="submit" value="Log In" class="btn btn-primary" />
        </div>
    }
</div>
